* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro", "Helvetica Neue", "Arial", sans-serif;
}

.board {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.4rem;
}
#input__num {
  border: none;
  background: none;
  color: #fff;
  font-size: 64px;
  max-width: 360px;
  padding: 0 1rem;
  text-align: right;
}

#input__num:active,
#input__num:focus {
  outline: none;
  border: none;
  background: none;
}

#input__num::placeholder {
  color: #fff;
}

.board__num {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 0.4rem;
}

.board__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font-size: 36px;
  font-weight: 300;
}

.board__btn__light {
  background-color: #a5a5a5;
  text-decoration: none;
  color: black;
}

.board__btn__orange {
  background-color: #ff9f0a;
  text-decoration: none;
  color: #fff;
}

.active {
  background-color: white;
  color: orange;
  transition: 333ms ease-in-out;
}

.board__btn__grey {
  background-color: #343434;
  text-decoration: none;
  color: #fff;
}
.board__btn__grey__big {
  display: flex;
  justify-content: left;
  padding: 1.7rem;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 157px;
  border-radius: 40%;
  border-radius: 50px;
  background-color: #343434;
  text-decoration: none;
  color: #fff;
}
